p {
    color: blue;
    /*This is a single-line comment*/
    text-align: center;
}
#para1 {
    text-align: center;
    color: green;
}
.center {
  text-align: center;
  color: purple;
}
p.center {
  text-align: center;
  color: red;
}
p.large {
  font-size: 300%;
}
/*
This is
a multi-line 
comment */
